.page {
  min-height: 100vh;
  background: #282828;
  font-family: Century Gothic, Arial, Helvetica, Sans-serif;
  padding-top: 15px;
}

.page-limits {
  margin: auto;
  width: 95%;
  max-width: 1100px;
}
