.card {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card__img-link {
  display: flex;
  position: relative;
  width: 100%;
}

.card__img {
  width: 100%;
  /* min-width: 350px; */
  /* height: 300px; */
  border-radius: 15px;
  position: relative;
  object-fit: cover;
  object-position: left;
}

.card__overlay {
  position: absolute;
  background-color: #21222b8f;
  opacity: 1;
  /* min-width: 350px; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s all linear;
  border-radius: 15px;
}

.card__overlay:hover {
  opacity: 0;
}

.card__data {
  color: #9f9f9f;
  width: 55%;
}

.card:nth-of-type(2n) .card__data {
  text-align: right;
  order: -1;
}

.card:nth-of-type(2n) .card__data .card__ul {
  justify-content: end;
}

.card__heading {
  color: #fff;
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}

.card__description {
  font-size: 18px;
}

.card__ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.card__link {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.card__link:first-of-type {
  margin-right: 15px;
}

.card__link img {
  width: 100%;
  opacity: 0.6;
  transition: 0.3s all;
}

.card__link img:hover {
  opacity: 1;
}

@media (max-width: 900px) {
  .card__description {
    font-size: 16px;
  }

  .card__heading {
    font-size: 22px;
  }
}

@media (max-width: 780px) {

  .card {
    flex-direction: column;
  }

  .card__data {
    width: 80%;
  }

  .card:nth-of-type(2n) .card__data {
    text-align: start;
    order: 0;
  }

  .card:nth-of-type(2n) .card__data .card__ul {
    justify-content: start;
  }
}

@media (max-width: 600px) {

  .card__data {
    width: 100%;
  }

}
