.header {
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.header::after {
  opacity: .7;
  border-bottom: 1px solid#545454;
  display: block;
  content: " ";
  margin-top: 8px;
}

.header__nav {
  color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 200px;
  font-size: 35px;
  margin: 0;
}

.header__logo span {
  font-size: 27px;
  font-weight: 400;
  margin-left: 10px;
  display: initial;
}

.header__contacts {
  font-size: 18px;
  color: #fff;
  text-decoration:underline 1px;
  text-decoration-color: transparent;
  transition: all 0.3s;
}

.header__contacts:hover {
  text-decoration-color: #fff;
}

.header__ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 70px;
  font-size: 18px;
}

.header__picture {
  width: 50px;
  position: absolute;
  top: 58px;
  left: 102px;
  z-index: 0;
}

.header__picture_small {
  width: 41px;
  left: 148px;
}

.header__picture_last {
  left: 600px;
  top: 30px;
}

@media (max-width: 600px) {

  .header__logo span {
    display: none;
  }

}
