.contacts__link {
  display: flex;
  color: #fff;
  opacity: 0.6;
  transition: all 0.3s;
  width: fit-content;
  align-items: center;
  text-decoration: underline 1px;
}

.contacts__link:hover {
  opacity: 1;
}

.contacts__title {
  margin: 0;
}

.contacts__container {
  padding-bottom: 50px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.contacts__img {
  width: 40px;
  margin-right: 3px;
}
